/*NOTICIAS*/

.ultimasNoticias{
    width: 100%;
    height: 100%;
    background-image: url(../img/flat-mountains.svg);
    background-size: cover;
    .tituloPrincipal{
        @extend %estilo-titulo;
    }
    .cardsNoticias{
        width: 100%;
        padding-bottom: 15em;
        .cards{
            width: 540px;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}