/*--------------------MAIN----------------------*/
/*HERO*/

main{
    background-color: #F9C8FC;
}

.subirImg{
    width: 100%;
    height: 60vh;
    border-radius: 2em;
    object-fit: cover;
}

.carruselParrafo{
    font-family: januariB;
    font-weight: 700;
    letter-spacing: 4px;
    color: nth($colores , 4);
    font-size: 40px;
}

/* SECTION POR QUE PATÍN*/

.porQuePatin{
    @extend %flex;
    .tituloh3{
        color: #090909;
        margin: 60px;
        padding: 15px;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #ffff;
        text-align: $centrar-txt;
        font-size: 3em;
        font-family: JanuariB;
        letter-spacing: 8px;
        color: nth($colores , 4);
    }
    .conteinerList{
        width: 100%;
        .listaDeArriba{
            padding: 30px;
            @include flex (flex, space-evenly, center, row-reverse, wrap);
            .lista1{
                .listaGrupo{
                    margin: 20px;
                    border: solid 4px;
                    color: nth($colores , 1);
                    border-radius: 2em;
                    padding: 30px;
                    list-style-type: disclosure-closed;
                    .beneficios{
                        line-height: 250%;
                        font-size: 130%;
                        color: nth($colores , 4);
                    }
                }
            }
        }
        .listaDeAbajo{
            padding: 30px;
            @include flex (flex, space-evenly, center, row, wrap);
            .lista2{
                .listaGrupo{
                    margin: 20px;
                    border: solid 4px;
                    color: nth($colores , 1);
                    border-radius: 2em;
                    padding: 30px;
                    list-style-type: disclosure-closed;
                    .beneficios{
                        line-height: 250%;
                        font-size: 130%;
                        color: nth($colores , 4);
                    }
                }
            }
        }
    }
}

/* MAMAS FELICES*/

.mamasFelices{
    @extend %flex;
    .tituloh3{
        color: #090909;
        margin: 60px;
        padding: 15px;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #ffffff;
        text-align: $centrar-txt;
        font-size: 3em;
        font-family: JanuariB;
        letter-spacing: 8px;
        color: nth($colores , 4);
    }
    .lindosMensajes{
        @include flex (flex, center, center, row, wrap);
        div{
            width: 300px;
            height: 450px;
            margin: 30px;
            border-radius: 20px;
            background: #fff5c2;
            box-shadow: 0 8px 32px 0 #FCF6BD;
            border: 1px solid;
            @include flex (flex, space-evenly, center, column, wrap);
            transition: .5s, color .10s;
            &:hover {
                box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
                transform: translate(0px,5px);
            }
            p{
                color: nth($colores , 4);
                font-family: georgia, serif;
                font-size: 20px;
                font-style: italic;
                text-align: $centrar-txt;
                letter-spacing: 1.8pt;
                word-spacing: 2pt;
                padding: 6px;
                border-radius: 25px;
            }
        }
    }
}