@font-face {
    font-family: "JanuariB";
    src: url(../css/januari-blossom.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}