/* -----------------------------------MEDIA QUERY------------------------------- */

@media screen and (max-width:1380px) {
    .galeriaContainer{
        .galeriaFotos{
            width: 100%;
            padding: 35px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .ultimoGrid{
                grid-column: span 2;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media screen and (max-width:1172px) {
    .footerContainer{
        width: 100%;
        height: 100%;
        @include flex (flex, center, center, column, wrap);
    }
}

@media screen and (max-width:807px){
    .cards{
        width: 540px;
        transition: 0;
        &:hover{
            transform: 0;
        }
    }
    .sobreMi{
        height: auto;
    }
}

@media screen and (max-width:767px){
    .formularioContainer{
        height: auto;
    }
}

@media screen and (max-width:709px) {
    .galeriaContainer{
        .galeriaFotos{
            display: grid;
            grid-template-columns: 1fr;
            .ultimoGrid{
                grid-column: span 1;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media screen and (max-width:580px) {
    .footerContainer{
        .sedes{
            .sedesClubes{
                @include flex (flex, center, center, column, wrap);
            }
        }
    }
}