/*VARIABLES*/

$centrar-txt: center;

$colores:
black,
white,
#212121,
gold,
fuchsia,
pink;

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex($flex, $justifi, $align, $direction, $wrap){
    display: $flex;
    justify-content: $justifi;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}